# dependencies
node_modules
/.pnp
.pnp.js
# production
docs-dist
dist
build
es
lib

# misc

.DS_Store
pluginTemp/js/*
**/pluginTemp/js/*.js
pluginTemp/libs/*
plugin-*.zip

/dumi/.umi/.cache/babel-loader
/dumi/.umi/

.history
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
