html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style-type: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

.River {
  width: 80%;
  height: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* .app-container>.components {
  margin-bottom: 15px;
  display: flex;
}

.app-container>.components>.title {
  font-size: 18px;
  color: cornflowerblue;
  white-space: nowrap;
  width: 220px;
} */